@font-face {
	font-family: 'MabryPro-regular';
	font-weight: 400;
	src: url('https://corsproxy.scharde.workers.dev/?q=https://gitlab.com/nabeelcodes/mabryprohosting/-/raw/main/fonts/MabryPro-Regular.woff2?inline=false')
			format('woff2'),
		url('https://corsproxy.scharde.workers.dev/?q=https://gitlab.com/nabeelcodes/mabryprohosting/-/raw/main/fonts/MabryPro-Regular.woff?inline=false')
			format('woff');
}
@font-face {
	font-family: 'MabryPro-bold';
	font-weight: 400;
	src: url('https://corsproxy.scharde.workers.dev/?q=https://gitlab.com/nabeelcodes/mabryprohosting/-/raw/main/fonts/MabryPro-Bold.woff2?inline=false')
			format('woff2'),
		url('https://corsproxy.scharde.workers.dev/?q=https://gitlab.com/nabeelcodes/mabryprohosting/-/raw/main/fonts/MabryPro-Bold.woff?inline=false')
			format('woff');
}
